/**
 *
 * CristalX4Drupal Theme
 *
 * A port of CristalX (http://www.oswd.org/design/preview/id/3465) theme
 * by vit.dlouhy (http://www.vitdlouhy.cz).
 *
 * Based on Garland Theme, for Drupal 5
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net
 *
 * Ported by Manuel Cillero (http://manuelcillero.com)
 */


body {
  /* Center layout */
  text-align: center;
  /* Allow text resizing. */
  font-size: 80%;
}

#header-region,
#wrapper #container,
.node .content,
.comment .content {
  /* Reset text alignment. */
  text-align: left;
}

#wrapper #container #header #logo-floater .site-title {
  /* I hate Internet Explorer!!! */
  cursor: hand;
}

#block-node-0 a.feed-icon {
  /* I hate Internet Explorer!!! */
  background: url(images/feed_icon.gif) no-repeat 0 0;
}

#wrapper #container #center {
  /* Reduce amount of damage done by extremely wide content. */
  overflow: hidden;
}

#wrapper #container #center .right-corner .left-corner {
  /* Because of the lack of min-height, we use height as an alternative. */
  height: 400px;
}

#wrapper #container #footer {
  /* Because of the lack of min-height, we use height as an alternative. */
  height: 60px;
}

fieldset {
  /* Don't draw backgrounds on fieldsets in IE, as they look really bad. */
  background: none;
}

ul.primary {
  /* Fix missing top margin */
  position: relative;
/*  top: 0.5em; */
}

/* Prevent fieldsets from shifting when changing collapsed state. */
html.js fieldset.collapsible {
  position: relative;
  top: -1em;
}
html.js fieldset.collapsed {
  top: 0;
  margin-bottom: 1em;
}

td.menu-disabled {
  /* Use filter to emulate CSS3 opacity. */
  filter: alpha(opacity=50);
}

#attach-hide label, #uploadprogress div.message {
  /* Fading elements in IE causes the text to bleed unless they have a background. */
  background-color: #ffffff;
}
