/**
 *
 * CristalX4Drupal Theme (print styles)
 *
 * A port of CristalX (http://www.oswd.org/design/preview/id/3465) theme
 * by vit.dlouhy (http://www.vitdlouhy.cz).
 *
 * Based on Garland Theme, for Drupal 5
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net
 *
 * Ported by Manuel Cillero (http://manuelcillero.com)
 */


body,
input,
textarea,
select {
  color: #000;
  background: none;
}

.sidebar,
#header-region,
ul.primary-links,
ul.secondary-links,
ul.tabs,
.picture {
  display: none;
}

body,
body.sidebar-right {
  width: 640px;
}

body.sidebar-right #center,
body.sidebar-right #squeeze {
  margin: 0;
}

#jump-content {
  display: none;
}

#wrapper,
#wrapper #container,
#wrapper #container #header,
#wrapper #container #header #logo-floater,
#wrapper #container .breadcrumb,
#wrapper #container #mission,
#wrapper #container #center,
#wrapper #container #center .right-corner,
#wrapper #container #center .right-corner .left-corner,
#wrapper #container #footer,
#wrapper #container #center #squeeze,
#wrapper #container #center .right-corner .left-corner .inner .inner-content {
  position: static;
  left: 0;
  margin: 0;
  padding: 0;
  width: auto;
  float: none;
  clear: both;
  background: none;
}

#wrapper #container #header {
  top: 0;
  height: 45px;
}
#wrapper #container #header #logo-floater {
  top: 0;
}
#wrapper #container #header #logo-floater h1,
#wrapper #container #header #logo-floater h1 a {
  margin: 0;
  padding: 0;
  line-height: 30px;
}
#wrapper #container #header #logo-floater .site-name,
#wrapper #container #header #logo-floater .site-slogan {
  margin: 0 0 0 10px;
  color: #000;
}
#wrapper #container #header #logo-floater .site-name {
  top: 20px;
}
#wrapper #container #header #logo-floater .site-slogan {
  top: 40px;
}
#wrapper #container #center .right-corner .left-corner .inner {
  padding-top: 10px;
}

#wrapper #container #mission {
  margin: 0.5em 0;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  margin-left: 1.8em;
  padding-left: 0;
  list-style-type: disc;
  list-style-image: none;
}

/**
 * Nodes & comments.
 */
.node,
.node .content,
.node span.submitted,
.node .meta,
.node .terms a {
  margin: 0;
  padding: 0;
}
.node {
  margin-bottom: 2em;
}
.node .content {
  padding: 0.5em 0;
}
h2.main-title,
.node h2.node-title,
.node h2.node-title a {
  margin-left: 0;
  padding-left: 0;
  color: #333;
}

/**
 * Other styles.
 */
.pager,
.feed-icon {
  display: none;
}
.noprint {
  display: none;
}
