/**
 *
 * CristalX4Drupal Theme
 *
 * A port of CristalX (http://www.oswd.org/design/preview/id/3465) theme
 * by vit.dlouhy (http://www.vitdlouhy.cz).
 *
 * Based on Garland Theme, for Drupal 5
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net
 *
 * Ported by Manuel Cillero (http://manuelcillero.com)
 */


/**
 * Generic elements.
 */
body {
  margin: 0;
  padding: 0 0 45px 0;
  font: 0.9em/150% sans-serif;
  background: #f2f5fe url(images/bg.gif) 0 0 repeat-x;
  color: #192666;
}

body, ul, ol, li, dl, dd, th, td, p, label, div {
  font: 11px/160% Verdana,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  border: 0;
  margin: 15px 0 10px 0;
  padding: 0;
  font-weight: bold;
}
h1 {
  font: normal 24px/100% Georgia,serif;
}
h2 {
  font: normal 18px/100% Georgia,serif;
}
h3 {
  font-size: 14px;
  line-height: 100%;
  font-weight: bold;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 100%;
}

quote, code, fieldset {
  margin: .5em 0;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

hr {
  margin: 0;
  padding: 0;
  height: 1px;
}

ul {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.8em;
}
ul li {
  margin: 0.4em 0 0.4em 0.5em;
}
ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.1em 0 0.1em .4em;
  padding: 0 0 0.1em 1em;
  line-height: 1.6em;
  list-style-type: none;
  list-style-image: none;
}
ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}
ul.inline li {
  margin: 0;
  padding: 0 1em 0 0;
  background: none;
}
ul.menu, .menu ul, .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}
ul.menu ul, .item-list ul ul {
  margin-left: 0em;
}
ul.menu {
  margin: 0;
}
ul.menu ul {
  margin: 0;
}
ul.menu li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e0e8fa;
}
ul.menu li li {
  margin: 0;
  padding: 0 0 0 14px;
  width: 90%;
  border-bottom: none;
}
ul.menu li a {
  display: block;
  padding: 3px 3px 3px 18px;
  background: url(images/menu-option.gif) no-repeat 3px 6px;
  text-decoration: none;
}
ul.menu li a.active {
  font-weight: bold;
  background: #e0e8fa url(images/menu-active.gif) no-repeat 3px 6px;
}
ul.menu li li a {
  width: 90%;
  padding: 1px 3px 1px 18px;
}
ul.menu li.collapsed a {
  background: url(images/menu-collapsed.gif) no-repeat 3px 6px;
}
ul.menu li a:hover {
  background-color: #dee5f4;
  color: #192666;
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em;
}
dl dt {
}
dl dd {
  margin: 0 0 .5em 1.5em;
}

acronym {
  border-bottom: 1px dotted black;
}

/**
 * Table styles.
 */
table {
  margin: 1em 0;
}
th {
  font-weight: bold;
}
td, th {
  padding: .3em .5em;
  vertical-align: top;
}
.cell-header {
  background-color: #ffcc99;
}

a {
  color: #192666;
}
a:hover {
  color:#4f6ad7;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  font-size: 0.92em;
}

.messages {
  margin: .75em 0 .75em;
  padding: .5em 1em;
  border: 3px dotted #ddd;
}

.messages ul {
  margin: 0;
}

.form-checkboxes,
.form-checkboxes .form-item,
.form-radios,
.form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button,
fieldset .form-submit,
.sidebar .form-button,
.sidebar .form-submit,
table .form-button,
table .form-submit {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}

/**
 * Layout.
 */
#jump-content {
  display: none;
}

#wrapper {
  margin-top: 45px;
  margin-bottom: 45px;
}

#wrapper #container {
  margin: 0 auto;
  padding: 0 10px;
  width: 770px;
  background: url(images/bg_page.gif) repeat-y 10px 0;
}

/**
 * Header.
 */
#wrapper #container #header {
  height: 140px;
  position:relative;
  background: url(images/header.jpg) no-repeat 0 0;
  color: #fff;
}

#wrapper #container #header #logo-floater {
  position: absolute;
  top: 15px;
  left: 20px;
}
#wrapper #container #header #logo-floater a {
  text-decoration: none;
  display: block;
  float: left;
}
#wrapper #container #header #logo-floater a h1 {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#wrapper #container #header #logo-floater .site-name {
  position: absolute;
  margin-top: -1em;
}
#wrapper #container #header #logo-floater .site-slogan {
  position: absolute;
  font-weight: normal;
  font-size: 0.6em;
}

#wrapper #container #header #search-floater {
  position: absolute;
  right: 20px;
  margin-top: 35px;
  width: 205px;
  z-index: 2;
}
#wrapper #container #header #search-floater div.form-item {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 155px;
  height: 28px;
  background: url(images/search_input.gif) no-repeat 0 0;
}
#wrapper #container #header #search-floater input.form-text {
  border: 0;
  margin: 2px 7px;
  padding: 0;
  width: 141px;
  height: 24px;
  line-height: 24px;
  font: bold 18px Verdana, sans-serif;
}
#wrapper #container #header #search-floater input.form-submit {
  float: right;
  border: 0;
  margin: 0;
  padding: 40px 0 0;
  overflow: hidden;
  width: 41px;
  height: 28px;
  background: url(images/search_submit.gif) no-repeat 0 0;
}

#wrapper #container #header h1,
#wrapper #container #header h1 a:link,
#wrapper #container #header h1 a:visited {
  line-height: 120px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

#wrapper #container #header h1 img {
  padding-top: 16px;
  padding-right: 20px;
  float: left;
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#wrapper #container #center {
  float: left;
  width: 100%;
  margin-top: 0;
  background: url(images/bg_page_top.jpg) no-repeat 0 0;
}

/* So we move the #center container over the sidebars to compensate */
body.sidebar-right #center {
  margin-right: -220px;		/* SRW */
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-right #squeeze {
  margin-right: 195px;		/* SRW */
}

#wrapper #container #center #squeeze {
  background: url(images/bg_node.jpg) no-repeat 20px 40px;
}

#wrapper #container #center .right-corner .left-corner {
  padding: 0 0 0 20px;
}
#wrapper #container #center .right-corner .left-corner .inner  {
  padding-right: 25px;
  padding-top: 60px;
}
#wrapper #container #center .right-corner .left-corner .inner .inner-content {
  margin-top: 0;
  padding: 0 10px;
  min-height: 300px;
}
.inner-content ul li {
  background: transparent url(images/menu-leaf.gif) no-repeat 4px .65em;
}
.inner-content ul.links li,
.inner-content ul.images li,
.inner-content ul.galleries li {
  background: none;
}
.inner-content ul.galleries li {
  border-top: 2px dotted transparent;
  border-bottom: 2px dotted #aaa;
}

.inner-content fieldset ul li {
  background-image: none;
}

#wrapper #container .sidebar {
  margin: 60px 0 5em;
  float: left;
  z-index: 2;
  position: relative;
}

#wrapper #container #sidebar-right {
  width: 200px;			/* SRW */
  background: url(images/bg_sidebar.gif) no-repeat 0 0;
  margin-top: 40px;
}

#wrapper #container .block {
  margin-bottom: 40px;
}

#sidebar-right .block {
  padding: 0;
  margin: 20px 0 40px;
}
#sidebar-right .block-region {
  margin: 0;
}

.block-region {
  padding: 1em;
  text-align: center;
  font-size: 1.3em;
}

/* Now we add the backgrounds for the main content shading */
#wrapper #container #center .right-corner .left-corner .inner {
  min-height: 400px;
}

#mission {
  position: absolute;
  margin: -60px 0 0;
  padding: 0 5px;
  width: 720px;
  text-align: justify;
}

#wrapper #container .breadcrumb {
  position: absolute;
  padding: 0;
  font-size: 11px;
  width: 730px;
  z-index: 3;

  margin: 0;
  margin-top: -60px;
  line-height: 20px;
  margin-bottom: 20px;
}
#wrapper #container .breadcrumb a {
  color: #6182d1;
}
#wrapper #container .breadcrumb a:hover {
  color: #192666;
}

/**
 * Blocks.
 */
.block h2.block-title {
  margin-top: 0;
  padding: 10px;
  font: bold 16px Verdana,sans-serif;
  line-height: 20px;
  background: #89a8f0 url(images/bg_sidebar_title.gif) repeat-y 0 0;
  color: #192666;
}
.block .content {
  margin: 0.1em 8px;
}
.block .more-link {
  font-size: 0.8em;
  padding-right: 10px;
}

/**
 * Primary navigation.
 */
ul.primary-links {
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  height: 40px;
  width: 770px;
  margin: 0;
  padding: 7px 0 0 10px;
  background: url(images/bg_primary.png) no-repeat 0 0;
  z-index: 4;
}
ul.primary-links li {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  background: url(images/tab_link.gif) repeat-x 0 0;
  height: 33px;
}
ul.primary-links li a,
ul.primary-links li a:link,
ul.primary-links li a:visited {
  display: block;
  line-height: 33px;
  margin: 0;
  padding: 0 15px 0;
  background: url(images/tab_corner.gif) no-repeat 100% 0;
  color: #b5c4e3;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
ul.primary-links li a:hover {
  color: #fff;
  background: #334685 url(images/tab_corner_hover.gif) no-repeat 100% 0;
}
ul.primary-links li a.active,
ul.primary-links li a.active:link,
ul.primary-links li a.active:visited,
ul.primary-links li a.active:hover {
  color: #ff9000;
  background: #fff url(images/tab_corner_active.gif) no-repeat 100% 0;
}

/**
 * Tabs navigation.
 */
ul.primary,
ul.primary li,
ul.secondary,
ul.secondary li {
  margin: 0;
  padding: 0;
}
#tabs-wrapper {
  margin: 0;
  padding: 0;
}
#tabs-wrapper .node {
  background: none;
}
h2.with-tabs {
  margin: 0;
  padding: 0;
}
ul.primary {
  border: 0;
  margin: 0 10px;
  padding: 15px 0 10px;
  border-bottom: 1px solid #dee5fd;
}
ul.secondary {
  clear: both;
  border: 0;
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px solid #dee5fd;
  float: none;
}
ul.secondary li {
  line-height: 2em;
}
ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover,
ul.primary li a:visited,
ul.secondary li a,
ul.secondary li.active a,
ul.secondary li a:hover,
ul.secondary li a:visited {
  padding: 4px 1em;
  margin: 0 0 0 1px;
  height: auto;
  position: relative;
  top: -1px;
  border: 0;
  background: transparent;
}
ul.primary li,
ul.secondary li {
  border: 0;
  background: transparent;
}
ul.primary li.active a,
ul.primary li.active a:link,
ul.primary li.active a:visited,
ul.primary li a:hover {
  background-color: #7aa7c5;
  color: #fff;
}
ul.secondary li.active a,
ul.secondary li.active a:link,
ul.secondary li.active a:visited,
ul.secondary li a:hover {
  background-color: #a0c2d7;
  color: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}
#tabs-wrapper .inner-content {
  clear: both;
}

/**
 * Footer.
 */
#wrapper #container #footer {
  float: none;
  clear: both;
  min-height: 60px;
  background: url(images/bg_footer.jpg) no-repeat 0 bottom;
  padding: 0 30px 25px;
  margin-bottom: 0;
  text-align: left;
  color: #6685cc;
  font-size: 10px;
}
#wrapper #container #footer a {
  color: #6685cc;
}
#wrapper #container #footer a:hover {
  color: #192666;
}

/**
 * Powered by Drupal.
 */
#powered {
  color: #6685cc;
  font-size: 10px;
  text-align: center;
}
#powered a {
  color: #6685cc;
}
#powered a:hover {
  color: #192666;
}

/**
 * Nodes & comments.
 */
.node {
  background: url(images/bg_node.jpg) no-repeat 0 -40px;
  margin: 0 -10px;
  padding: 0 0 30px;
}
.sticky {
  background: url(images/bg_sticky.jpg) no-repeat 0 -40px;
}
h2.main-title,
.node h2.node-title {
  margin: 0;
  padding: 9px;
  font-size: 20px;
  line-height: 22px;
}
h2.main-title {
  padding-left: 34px;
  background: url(images/bg_node_main_title.jpg) no-repeat 0 0;
  color: #eee;
}
.node h2.node-title {
  background: url(images/bg_node_title.jpg) no-repeat 0 0;
  color: #192666;
}
.sticky h2.node-title {
  background: url(images/bg_sticky_title.jpg) no-repeat 0 0;
}
.node a.link-title {
  display: block;
  padding-left: 25px;
  text-decoration: none;
}
.node .content {
  margin: 0.6em 0;
  padding: 0 10px;
  text-align: justify;
}

.node ul.links li,
.node ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.node .links {
  text-align: left;
  font-size: 0.92em;
}

.node .meta {
  padding-top: 8px;
  border-top: 1px solid #dee5fd;
}
.node .meta,
.node .links {
  margin: 0 10px;
  line-height: 1.8em;
  text-align: right;
  font-size: 10px;
}
.node .terms {
  float: none;
  font-size: 0.92em;
}
.node .terms a {
  padding-left: 15px;
  background: url(images/ico_cat.gif) 0 50% no-repeat;
}
.node .terms a,
.node .links a,
.node span.submitted a {
  color: #6685cc;
}
.node .terms a:hover,
.node .links a:hover {
  color:#ff9000;
}
.node .terms ul,
.node .links ul {
  margin: 0;
}
.node .terms ul li,
.node .links ul li {
  padding: 0 5px;
  background: none;
  border-right: 1px solid #000;
}
.node .terms ul li.last,
.node .links ul li.last {
  border-right: none;
}
.node .links ul li.comment_add a,
.node .links ul li.comment_comments a {
  padding-left: 15px;
  background: url(images/ico_comment.gif) 0 50% no-repeat;
}

.node span.submitted {
  display: block;
  margin: 0 10px;
  padding: 8px 15px;
  background: url(images/ico_date.gif) 0 50% no-repeat;
  border-bottom: 1px solid #dee5fd;
  font-size: 11px;
  color: #6685cc;
}
.node span.submitted a {
  background: url(images/ico_user.gif) 0 50% no-repeat;
  padding-left: 15px;
}
.node span.submitted a:hover {
  color:#ff9000;
}

.picture {
  display: block;
  float: right;
  clear: right;
  padding: 2px;
  border: 1px solid #6685cc;
  margin: 0.5em 1.2em 0.5em 1em;
  background-color: #fff;
}
.picture img {
  display: block;
}

img.image {
  display: block;
  margin: 0 auto;
}

.preview .node {
  margin: 0;
  padding: 0.5em 0;
  background: none;
}
.preview .node h2.node-title {
  margin-top: 0;
}

#comments {
  position: relative;
  top: -1px;
  margin: -1.5em -25px 0;
  padding: 0 25px;
}

#comments h2.comments {
  margin: 0 -15px;
  padding: .5em 15px;
}

.comment {
  margin: 0 -25px;
  padding: 0 25px 1.5em;
}
.comment h3.comment-title {
  margin: 10px -10px 0;
  padding: 9px;
  font: normal 20px/100% Georgia,serif;
  line-height: 22px;
  background: url(images/bg_node_title.jpg) no-repeat 0 0;
  color: #192666;
}
.comment .comment-title a {
  display: block;
  padding-left: 25px;
  text-decoration: none;
}
.comment .content {
  margin: 0.6em 0;
  text-align: justify;
}
.comment span.submitted {
  display: block;
  padding: 8px 15px;
  background: url(images/ico_date.gif) 0 50% no-repeat;
  border-bottom: 1px solid #dee5fd;
  font-size: 11px;
  color: #6685cc;
}
.comment span.submitted a {
  background: url(images/ico_user.gif) 0 50% no-repeat;
  padding-left: 15px;
}
.preview .comment h3.comment-title,
#comments .comment h3.comment-title,
#comment-form .comment h3.comment-title {
  padding-bottom: 0;
  font: bold 14px/100% Verdana,Arial,sans-serif;
  background: none;
}
.preview .comment .comment-title a,
#comments .comment .comment-title a,
#comment-form .comment .comment-title a {
  padding-left: 0;
  text-decoration: underline;
}
.preview .comment span.submitted,
#comments .comment span.submitted,
#comment-form .comment span.submitted {
  padding: 2px 0;
  border-bottom: none;
  background: none;
}
.preview .comment span.submitted a,
#comments .comment span.submitted a,
#comment-form .comment span.submitted a {
  background: none;
  padding-left: 0;
}
.comment .links ul li.comment_reply a {
  padding-left: 15px;
  background: url(images/ico_comment.gif) 0 50% no-repeat;
}
.comment .links {
  text-align: left;
  font-size: 0.92em;
}
.comment .links a {
  color: #6685cc;
  font-size: 0.92em;
}
.comment .links a:hover {
  color:#ff9000;
}
.new {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  color: #ffae00;
  font-size: 0.92em;
  font-weight: bold;
}
#comments .new {
  padding-top: 15px;
  margin-bottom: -8px;
}
.preview .comment {
  margin: 0;
  padding: 0.5em 0;
}

.messages {
  margin-bottom: 25px;
}

.indented {
  margin-left: 25px;
}

.book-navigation ul {
  display:none;
}

.help {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pager {
  margin: 20px 0;
}

/**
 * Images & galleries.
 */
.preview {
  margin: .75em 0 .75em;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #999;
}
.thumbnail {
  padding: 2px;
  background-color: #fff;
  border: 1px solid #999;
}

ul.images {
  clear: both;
}
ul.images,
ul.images li {
  background-image: none;
  text-align: right;
  font-size: 90%;
}
ul.images li h3 {
  text-align: left;
}
ul.galleries li {
  border: 0;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Forms.
 */
.field .field-label-inline,
.field .field-label-inline-first {
  padding-right: 0.6em;
}
.container-inline .form-text {
  width: auto;
  display: inline;
}
.container-inline .form-select {
  display: inline;
}
.container-inline .description {
  margin-right: 1em;
}

/**
 * Collapsible fieldsets.
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
}
fieldset legend {
  /* Fix disappearing legend in Firefox. */
  display: block;
}
html.js fieldset.collapsed {
  padding-top: 0;
  padding-bottom: 3px;
}
html.js fieldset.collapsible legend a {
  padding-left: 2em;
}
html.js fieldset.collapsible input.form-text {
  max-width: 98%;
}

/**
 * Admin Styles.
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}
div.admin-panel dd {
  font-size: 0.92em;
}
div.admin .left {
  float: left;
  width: 48%;
}
div.admin .right {
  float: right;
  width: 48%;
}
div.admin-panel {
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

/**
 * Syndication icons.
 */
.feed-icon {
  float: right;
  margin: 4px 10px 14px;
}

/**
 * "Syndication" Block.
 */
#block-node-0 a.feed-icon {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 auto;
  background: url(images/feed_icon.png) no-repeat 0 0;
}
#block-node-0 a.feed-icon {
  float: none;
}
#block-node-0 a.feed-icon img {
  display: none;
}

/**
 * "Login" Block.
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  margin-top: 15px;
}
#user-login-form ul li {
  margin: 0 1em;
  padding: 0 0 4px;
  text-align: center;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-source {
  margin-bottom: 20px;
}
#aggregator .feed-description {
  margin-bottom: 10px;
}
#aggregator h3.feed-item-title {
  font: bold 15px/100% Verdana,Arial,sans-serif;
}
#aggregator .feed-item-date {
  padding-left: 15px;
  background: url(images/ico_date.gif) 0 50% no-repeat;
}
#aggregator .feed-item {
  margin: -1.5em -31px 0;
  padding: 1.5em 31px;
}
#aggregator .feed-item-body {
  text-align: justify;
}
#aggregator .feed-item-categories {
  padding-top: 4px;
  border-top: 1px solid #dee5fd;
  line-height: 1.8em;
  font-size: 10px;
}
#aggregator .feed-item-categories a {
  padding-left: 15px;
  background: url(images/ico_cat.gif) 4px 50% no-repeat;
}
#aggregator .feed-item-meta {
  display: block;
  padding: 8px 0;
  font-size: 11px;
  color: #6685cc;
}
#aggregator .feed-item-meta a,
#aggregator .feed-item-categories a {
  color: #6685cc;
}
#aggregator .feed-item-meta a:hover,
#aggregator .feed-item-categories a:hover {
  color:#ff9000;
}

/**
 * Project-issue.module
 */
.project-issue .summary table {
  margin-left: 20px;
  border: 1px solid #444;
}
.project-issue .summary table tr.odd td {
  background-color: #f5f5f5;
}
.project-issue .summary table tr.even td {
  background-color: #efefef;
}
.project-issue .summary table td {
  padding: 2px 10px;
  font-size: 10px;
}

/**
 * SWFTools.module: flash movies with jQuery
 */
div.flash-replaced embed {
  display: block;
  margin: 0 auto;
}
div.flash-replaced .alt {
  display: none;
}

/**
 * CSS support.
 */
span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0;
  font-size: 0;
  margin-bottom: -1px;
}
